<ion-content>
    <ion-grid style="height: 100%;">
        <ion-row center align-items-center style="height: 100%;">
              <ion-col col-10 offset-1 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-xl-4 offset-xl-4>
                  <form (ngSubmit)="loginForm()">
                      <ion-item>
                          <ion-label>{{ "Login :" | translate }}</ion-label>
                          <ion-input type="text" [(ngModel)]="log.login" name="login"></ion-input>
                        </ion-item>
                        <p class="error c-red" *ngIf="errNickname">{{ "Your login has at least 3 characters." | translate }}</p>
                
                        <ion-item>
                          <ion-label>{{ "Password :" | translate}}</ion-label>
                          <ion-input type="password" [(ngModel)]="log.password" name="password"></ion-input>
                        </ion-item>
                        <p class="error c-red" *ngIf="errPassword">{{ "Your password has at least 3 characters." | translate }}</p>
                        <p class="error c-red" *ngIf="errInvalid">{{ "Login or password invalid" | translate }}</p>
                        <p class="error c-red" *ngIf="errServer">{{ "Server down, try again later" | translate }}</p>
                        
                        <button ion-button type="submit" block *ngIf="spinner === false ">{{ "Login" | translate }}</button>
                    </form>
                    <div class="text-center" *ngIf="spinner === false">
                      <a [navPush]="passwordPage">{{ "Forgot your password ?" | translate }}</a>
                    </div>
                    <div class="text-center" *ngIf="spinner === false">
                        <a [navPush]="registerPage">{{ "Register" | translate }}</a>
                    </div>
                    <ion-spinner name="bubbles" *ngIf="spinner"></ion-spinner>
              </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
