page-index{
    .selectGame ion-col{
        margin-top: -25%;
    }
    .selectGame ion-col:first-child{
        background-color: blue;
    }
    .selectGame ion-col:nth-child(2){
        background-color: green;
    }
    .selectGame ion-col:nth-child(3){
        background-color: red;
    }
    /*.topGames{
        width: 30%;
    }
    .lastGames{
        width: 30%;
    }
    .headlineGames{
        width: 30%;
    }*/
    h3{
        text-align: center;
    }
    .topGame{
        background-color: red;
    }
    .lastGame{
        background-color: green;
    }
    .headlineGame{
        background-color: blue;
    }
    .img{
        background-color: rgb(138, 81, 81);
    }
    ion-slide{
        min-width: 33.2%;
    }

    /*@media screen and (max-width: 450px) {
        ion-slide{
            min-width: 33%;
        }
    }*/
}