<ion-header>
   <ion-navbar hideBackButton='true' align-title="center">
        <ion-buttons right>
            <button ion-button menuToggle text-uppercase color="dark" #options>  
                <ion-icon name="settings"></ion-icon>
            </button> 
        </ion-buttons>
        <ion-title>
            FindTeamMates
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-menu [content]="options" type="overlay">
    <ion-content>
        <p>{{connected.connected}}</p>
        <ion-list> <!-- fermer menu à faire après sélection !!!!!! -->
            <p ion-item text-center style="background-color: lightgrey">
                {{ "Language" | translate }}
            </p>
            <button ion-item class="menuLanguages" (click)="switchLanguage('en')">
                English
            </button>
            <button ion-item class="menuLanguages" (click)="switchLanguage('fr')">
                Français
            </button>
        </ion-list>
        <ion-list *ngIf="connected.connected">
            <button ion-item text-center style="background-color: lightgrey" (click)="logout()">{{ "Logout" | translate }}</button>
        </ion-list>
    </ion-content>
</ion-menu>

<ion-nav [root]="rootPage"></ion-nav>
 
<ion-footer no-border text-center> 
    <ion-toolbar> 
     <ion-buttons center>
       <button *ngIf="personalSpace.personal_space" ion-button icon-only clear large (click)="goToPersonalSpace()" style="width : 50px ; height : 100%">
       <img src="../assets/icon/personnal_space.svg" name="personalSpace" >
       </button>
           <img *ngIf="personalSpace.personal_space === false" src="../assets/icon/personnal_space.svg" name="personalSpace" style="width : 50px ; height : 100%" >
     </ion-buttons>
    </ion-toolbar> 
</ion-footer> 
