page-long-matchmaking {
    th{
        padding-left: 5px;
        padding-right: 5px;
    };
    .game{
        width: 30%;
        margin: auto;
        vertical-align: middle;
    }
    .t_label{
        font-size: 18px;
    }
    .t_type{
        margin-top: 30px;
        margin-bottom: 2px;
    }
    .type{
        font-size: 14px;
    }
}
